main {
    background-color: #8FABD4;
    box-shadow: #000 0 0 0.3em;
    margin-bottom: 1em;
}

section {
    font-size: large;
    width: fit-content;
    max-width: 45%;
    margin: auto;
    text-align: left;
    padding-top: 0.1em;
    padding-bottom: 2em;
}

h3 {
    margin: 1em 0 0.1em 0;
    font-size: 150%;
}

p,
ul,
a {
    font-weight: 500;
    margin: 0;
}